<main>
  <div>
    <form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
      <fieldset id="mids">
        <legend>Login Information</legend>
        <label class="lighter" for="username">username</label>
        <input type="text" name="username" id="username" required  />
        <label class="lighter" for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <a id="login-to-reg" href="/registration">Don't have an account? Click Here!</a>
        <input id="sub" type="submit" value="submit" /> 
      </fieldset>
    </form>
  </div>
</main>

