<main>
  <div>
    <form action="/posts/createPost" method="POST" enctype="multipart/form-data">
      <fieldset id="mids">
        <legend>Post a ShroomScape</legend>
        <label class="lighter" for="title">Title</label>
        <input placeholder="title" type="text" name="title" id="title" required />
        <label class="lighter" for="description">Description</label>
        <input placeholder="description" type="text" name="description" required>
        <label for=""> </label>
        <label class="lighter" for="chooseImage"><input type="file" name="chooseImage" id="fileC" required />Upload Image</label>
        <label for=""><input type="checkbox" name="" id="" required>I hereby agree to the Use Policy</label>
        <input id="sub" type="submit" value="submit" />
      </fieldset>
    </form>
  </div>
</main>