<main>
  <div>
    <form id="form" method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">
      <fieldset id="mids">
        <legend>Create an Account</legend>
        <label class="lighter" for="username">Username</label>
        <input id="username" required="" type="text" name="username" />

        <label class="lighter" for="email">Email</label>
        <input required="" type="email" name="email" />

        <label class="lighter" for="password">Password</label>
        <input 
          id="password"
          required=""
          type="password"
          name="password"
        />

        <label class="lighter" for="confirmPassword">Confirm Password</label>
        <input
          id="password1"
          required=""
          type="password"
          name="confirmPassword"
        />
        <label class="lighter" id="checks"
        ><input
          type="checkbox"
          name="confirmAge"
          value="value"
          required=""
        />I am 13 years or older</label
      >
      <label class="lighter" id="checks"
        ><input
          type="checkbox"
          name="acceptTOS"
          value="value"
          required=""
        />I accept terms and conditions. As well as privacy rules</label
      >
      <button id="sub" type="submit" onclick="formValidation()">
        Submit
      </button>
      <button id="cancel" type="reset">Cancel</button>
      </fieldset>
    </form>
  </div>
</main>