<footer>
    <div id="bippity">
    <div id="help">Help</div>
    <div id="supportMumber">Support Number</div>
    <div id="privacy">Privacy</div>
    <div id="termsAndConditions">Terms and Conditions</div>
</div>
</footer>