<div id="sidebar">
  <h1 id="exp">ZEN</h1>
  <ul>
    <li><a id="home" href="/"><i class="fa fa-home"></i>Home</a></li>
    <li><a id="postImage" href="/postimage"><i class="fa fa-book"></i>Journal</a></li>
    <li><a id="signUp" href="/registration"><i class="fa fa-pencil"></i>Register</a></li>

    {{#if logged}}
    <li><a id="logout-button"><i class="fa fa-leaf"></i>Log Out</a></li
    {{else}}
    <li><a id="login" href="/login"><i class="fa fa-leaf"></i>Login</a></li>
    {{/if}}
  </ul>
</div>